p {
  text-align: center;
}
.img-custom {
  background-color: #d7e0f1; // Fondo de color pastel
  box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.1); // Sombras en los bordes
}

.muted {
  opacity: 0.5;
  color: gray;
}
