<div class="container">
  <h3>Listado de Citas</h3>
  <table class="table">
    <thead>
      <tr>
        <th>Cita</th>
        <th>Nombre</th>
        <th>Teléfono</th>
        <th>Disponible</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let cita of citas">
        <td>{{ cita.id }}</td>
        <td>{{ cita.nameCita }}</td>
        <td>{{ cita.phoneCita }}</td>
        <td>{{ cita.availableCita }}</td>
        <td>
          <button class="btn btn-danger" (click)="deleteCita(cita.id!)">
            Eliminar
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  <div *ngIf="citas.length === 0">
    <p>No hay citas registradas.</p>
  </div>
</div>
<div class="d-flex justify-content-center">
  <img
    src="assets/niceTatto.jpeg"
    width="400"
    height="300"
    class="img-custom"
  />
</div>
<br />
