<div class="container">
  <br />
  <ul class="nav justify-content-center">
    <li class="nav-item">
      <a routerLink="/home" class="nav-link px-2 text">Inicio</a>
    </li>
    <li class="nav-item">
      <a routerLink="/coments" class="nav-link px-2 text">Comentarios</a>
    </li>
    <li class="nav-item">
      <a routerLink="/artists" class="nav-link px-2 text">Artistas</a>
    </li>
    <li class="nav-item">
      <a routerLink="/admin" class="nav-link px-2 text">Acerca</a>
    </li>
  </ul>
  <hr />
  <footer
    class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top"
  >
    <div class="col-md-5 d-flex align-items-center">
      <span class="mb-3 mb-md-0 text-muted"
        >Derechos Reservados © 2023 - Diego Gomez Modolo</span
      >
    </div>
    <div class="col-md-7 text-md-end">
      <a
        href="mailto:gomezmdiego97@gmail.com?Subject=Consulta%20de%20sistema%20a%20gestionar."
        target="_blank"
      >
        <img
          src="/assets/iconogmail.png"
          alt="Icono de gmail"
          height="30px"
          width="30px"
        />
      </a>
      <a href="https://www.google.es/maps/search/Tatuajes" target="_blank">
        <img
          src="/assets/iconoadress.png"
          alt="Icono de maps"
          height="30px"
          width="30px"
        />
      </a>
      <a
        href="https://www.linkedin.com/in/diego1997-gomez-modolo-/"
        target="_blank"
      >
        <img
          src="/assets/linkedin.png"
          alt="Icono de LinkedIn"
          height="30px"
          width="30px"
        />
      </a>
      <a href="https://github.com/Dieote" target="_blank">
        <img
          src="/assets/github.png"
          alt="Icono de GitHub"
          height="30px"
          width="30px"
        />
      </a>
    </div>
  </footer>
</div>
