.header-style {
  background: linear-gradient(to right, #ffffff, #bbe5f5, #ffff);
  padding-left: 10px;
  padding-right: 10px;
}

.header-login {
  background: linear-gradient(to left, #c7e9f5, #ffffff, #c7e9f5);
  padding-left: 10px;
  padding-right: 10px;
}
.centered {
  text-align: center;
}

.modal-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.muted {
  opacity: 0.5;
  color: gray;
}
