.header-style {
  background: linear-gradient(to right, #ffff, #c7e9f5, #ffff);
  padding-left: 10px;
  padding-right: 10px;
}

.header-login {
  background: linear-gradient(to left, #c7e9f5, #ffffff, #c7e9f5);
  padding-left: 20px;
  padding-right: 20px;
}
