<div class="container">
  <h3>Reserva tu cita!</h3>
  <form [formGroup]="formCita" (ngSubmit)="addCita()">
    <div class="row">
      <div class="col-md-6">
        <label class="input-group-text" for="nombre"
          ><span class="asteriscoValid">*</span>Nombre completo:</label
        >
        <input
          class="form-control"
          type="text"
          id="nombreCliente"
          name="nombreCliente"
          formControlName="nameCita"
        /><br />
        <div *ngIf="isFieldInvalid('nameCita')" class="text-danger">
          Nombre es requerido.
        </div>
        <br />
        <label class="input-group-text" for="telefono"
          ><span class="asteriscoValid">*</span>Teléfono:</label
        >
        <input
          class="form-control"
          type="tel"
          id="telefono"
          name="telefono"
          formControlName="phoneCita"
        /><br />
        <div *ngIf="isFieldInvalid('phoneCita')" class="text-danger">
          Telefono es requerido.
        </div>
        <br />

        <label class="input-group-text"
          >Artista:
          <select
            class="form-control"
            id="artistaCita"
            name="artistaCita"
            [(ngModel)]="selectedArtist"
            (change)="subscribeIdArtist()"
            formControlName="idArtistaForm"
          >
            <option value="" disabled hidden>Elige tu Artista</option>
            <option *ngFor="let artist of tatuadores" [value]="artist.id">
              {{ artist.name }}
            </option>
          </select></label
        >
        <br />
        <br />
        <div class="input-group-text">
          <label id="citaDisponible">Disponible:</label>
          <div class="form-check">
            <input
              type="radio"
              id="morning"
              name="availableCita"
              value="morning1"
              formControlName="availableCita"
              class="form-check-input"
            />
            <label class="form-check-label" for="morning">Mañana</label>
          </div>
          <div class="form-check">
            <input
              type="radio"
              id="evening"
              name="availableCita"
              value="evening2"
              formControlName="availableCita"
              class="form-check-input"
            />
            <label class="form-check-label" for="evening">Tarde</label>
          </div>
          <div class="form-check">
            <input
              type="radio"
              id="night"
              name="availableCita"
              value="night3"
              formControlName="availableCita"
              class="form-check-input"
            />
            <label class="form-check-label" for="night">Noche</label>
          </div>
        </div>
        <br />
        <input
          class="btn btn-primary"
          type="submit"
          value="Enviar"
          [disabled]="!isFormValid()"
        />
      </div>
      <div class="col-md-6" id="rightSide">
        <div class="p-5 text-center bg-body-tertiary rounded-3">
          <h1 class="text-body-emphasis">Tu cita programada con...</h1>
          <hr />
          <br />
          <div *ngIf="tatuadorSeleccionado">
            <p class="tatuador-nombre">{{ tatuadorSeleccionado.name }}</p>
            <p class="tatuador-descripcion">
              {{ tatuadorSeleccionado.description }}
            </p>
            <p class="tatuador-telefono">
              Contacto: {{ tatuadorSeleccionado.phone }}
            </p>
          </div>
          <div *ngIf="!tatuadorSeleccionado">
            <p>No se ha seleccionado ningún artista.</p>
            <img src="assets/ArtistNull.jpeg" alt="Imagen no encontrada" />
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
