#artistaCita{
  margin-left: 55%;
}

  .input-group-text input[type="checkbox"],
.input-group-text label {
  display: inline-block;
  margin-right: 10px;
}

#citaDisponible{
  margin-right: 35%;
}

.tatuador-nombre {
  font-size: 18px;
  font-weight: bold;
}

.tatuador-descripcion {
  font-size: 16px;
  margin-bottom: 10px;
}

.tatuador-telefono {
  font-size: 14px;
  color: blue;
}
.asteriscoValid{
  color: red;
}

