<div class="container my-5">
  <div class="p-5 text-center bg-body-tertiary rounded-3 shadow-gray">
    <h1 class="text-body-emphasis">¡Bienvenido a Tatto-Art.E!</h1>
    <p class="lead">
      Tu destino para la expresión creativa en forma de tatuajes! Nos
      enorgullece ofrecerte una experiencia única y memorable en el mundo del
      arte corporal. Con más de 3 años de experiencia en la industria del
      tatuaje, nuestro equipo de artistas altamente capacitados está
      comprometido con la excelencia, la responsabilidad y la higiene.
    </p>
  </div>
</div>
<br />
<app-carrousel></app-carrousel>

<app-artist></app-artist>
