h1{
  color: var(--second-bg-color);
}
.shadow-gray {
  background-color: var(--second-bg-color);
  transition: .8s ease;
  width: 70%;
  margin: 0 auto;
}
.shadow-gray:hover{
  transform: scale(1.1);
  box-shadow: 0 0 20px 0 var(--main-color);
}
label{
  color: var(--second-bg-color);
}
.input-group-text{
  background-color: var(--main-color);
}
.muted {
  opacity: 0.5;
  color: var(--second-bg-color);
  text-align: center;
}
div.gallery {
  margin: 5px auto;
  width: 90%;
}
div.gallery img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  width: 300px;
  height: 300px;
  transition: transform 0.3s;
  border: 2px solid #131212;
}
div.gallery img:hover {
  transform: scale(1.1);
  border-color: var(--main-color);
}
.center {
  text-align: center;
}
.image-wrapper {
  position: relative;
}
.delete-button {
  position: absolute;
  top: 5px;
  right: 5px;
  z-index: 1;
}
