<h1 class="text-center font-italic">Diseños</h1>
<p class="text-center fs-5 shadow-gray">
  La sección de diseños es el corazón de nuestra aplicación, donde los
  talentosos tatuadores de todo el mundo pueden mostrar su increíble arte. Es un
  espacio dedicado a la creatividad, donde los profesionales de la tinta pueden
  compartir imágenes de los tatuajes que han realizado.
</p>
<br />
<br />
<div class="album py-5 bg-light">
  <br />

  <div class="d-flex justify-content-center">
    <form
      class="w-50"
      *ngIf="
        loginService.getUserRol() === 'ADMIN' ||
        loginService.getUserRol() === 'USER'
      "
    >
      <div class="mb-5">
        <label for="image" class="form-label">Cargar nueva imagen:</label>
        <div class="input-group">
          <input
            class="form-control"
            type="file"
            id="image"
            accept="image/*"
            #fileInput
          />
          <button
            type="submit"
            class="btn btn-primary ms-2"
            (click)="saveImage()"
          >
            Guardar
          </button>
        </div>
      </div>
    </form>
  </div>
  <div class="muted" *ngIf="!loginService.isLoggedIn()">
    <p>
      <strong>Inicia sesion para cargar una imagen.</strong>
    </p>
  </div>
  <div *ngIf="images.length > 0">
    <div class="gallery center">
      <div class="row">
        <div class="col-md-3" *ngFor="let image of images; let i = index">
          <div class="image-wrapper">
            <img [src]="image.imageUrl" alt="Imagen cargada" class="rounded" />
            <button
              class="btn btn-danger btn-sm delete-button"
              (click)="deleteImage(image.uuid)"
            >
              <strong>X</strong>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="images.length === 0" class="text-center mt-5">
    <p>No se han cargado imágenes.</p>
  </div>
</div>
