<div class="container text-center">
  <hr />
  <h1 class="text-center fst-italic fw-semibold">Artistas</h1>
  <p class="text-center fs-5 container">
    En Tatto-Art.E, entendemos la importancia de la responsabilidad en el arte
    del tatuaje. Cada diseño que creamos es una representación duradera de la
    individualidad e historia personal de nuestros clientes, y nos tomamos esa
    responsabilidad muy en serio. Nuestros artistas trabajan estrechamente
    contigo para garantizar que tu visión se convierta en una obra de arte
    auténtica y personalizada.
  </p>
  <hr />
  <div class="row align-items-center">
    <div
      class="col-12 col-sm-6 col-md-4 col-lg-3"
      *ngFor="let tattoMaker of tatuadores"
    >
      <div class="card-container">
        <div class="card card-custom mb-4 d-flex justify-content-between">
          <img
            [src]="getUrlImage(tattoMaker.imageName)"
            class="img-thumbnail"
            alt="fotiti"
          />
          <div class="card-body">
            <h5 class="card-title card-name">
              {{ tattoMaker.name | titlecase }}
            </h5>
            <p class="card-text card-description">
              {{ tattoMaker.description }}
            </p>
            <p>{{ tattoMaker.phone }} - {{ tattoMaker.available }}</p>
            <br />
            <div class="card-button-container">
              <a
                *ngIf="
                  (loginservice.isLoggedIn() &&
                    loginservice.getUserRol() === 'ADMIN') ||
                  loginservice.getUserRol() === 'USER'
                "
                href="{{ '/date' }}"
                class="btn btn-warning"
              >
                Cita
              </a>
              <a
                *ngIf="
                  loginservice.isLoggedIn() &&
                  loginservice.getUserRol() === 'ADMIN'
                "
                [routerLink]="['/form-artist', tattoMaker.id]"
                class="btn btn-light text-warning"
              >
                Editar
              </a>
              <p *ngIf="!loginservice.isLoggedIn()" class="mt-auto">
                Para citas inicia sesión!
              </p>
            </div>
          </div>
          <button
            *ngIf="loginservice.isLoggedIn() && tattoMaker.id"
            class="btn btn-danger btn-sm delete-button"
            (click)="deleteArtist(tattoMaker.id)"
          >
            <strong>X</strong>
          </button>
        </div>
      </div>
    </div>
  </div>
  <br />
  <button
    *ngIf="loginservice.isLoggedIn() && loginservice.getUserRol() === 'ADMIN'"
    type="submit"
    class="btn btn-orange"
    routerLink="/form-artist"
  >
    Agregar Artista
  </button>
  <div *ngIf="tatuadores.length === 0" class="text-center mt-5">
    <p class="optional-text">No se han cargado artistas.</p>
  </div>
</div>
