<div class="container text-center">
  <!--
      <div *ngFor="let tattoMaker of this.artistsService.verArtistas() | async">
     -->
  <h1 class="text-center fst-italic fw-semibold">Artists</h1>
  <div class="row align-items-center">
    <div class="col-4" *ngFor="let tattoMaker of tatuadores">
      <div class="card" style="width: 18rem">
        <img src="assets/fotiti.jpeg" class="img-thumbnail" alt="fotiti" />
        <div class="card-body">
          <h5 class="card-title">{{ tattoMaker.name }}</h5>
          <p class="card-text">
            {{ tattoMaker.description }}
          </p>
          <p>{{ tattoMaker.phone }} - {{ tattoMaker.available }}</p>
          <a href="/autor" class="btn btn-warning">Detalles</a>
        </div>
      </div>
    </div>
  </div>
</div>
