<div class="container text-center">
  <hr />
  <h1 class="text-center fst-italic fw-semibold">Artistas</h1>
  <p class="text-center fs-5 container">
    En Tatto-Art.E, entendemos la importancia de la responsabilidad en el arte
    del tatuaje. Cada diseño que creamos es una representación duradera de la
    individualidad e historia personal de nuestros clientes, y nos tomamos esa
    responsabilidad muy en serio. Nuestros artistas trabajan estrechamente
    contigo para garantizar que tu visión se convierta en una obra de arte
    auténtica y personalizada.
  </p>
  <hr />
  <div class="row align-items-center">
    <div class="col-4" *ngFor="let tattoMaker of tatuadores">
      <div class="card card-custom" style="width: 18rem">
        <img src="assets/defauProf.jpeg" class="img-thumbnail" alt="fotiti" />
        <div class="card-body">
          <h5 class="card-title card-name">
            {{ tattoMaker.name | titlecase }}
          </h5>
          <p class="card-text card-description">
            {{ tattoMaker.description }}
          </p>
          <p>{{ tattoMaker.phone }} - {{ tattoMaker.available }}</p>
          <br />
          <div class="card-body d-flex justify-content-between">
            <a
              *ngIf="
                (loginservice.isLoggedIn() &&
                  loginservice.getUserRol() === 'ADMIN') ||
                loginservice.getUserRol() === 'USER'
              "
              href="{{ '/date' }}"
              class="btn btn-warning"
              >Cita</a
            >

            <a
              *ngIf="
                loginservice.isLoggedIn() &&
                loginservice.getUserRol() === 'ADMIN'
              "
              [routerLink]="['/form-artist', tattoMaker.id]"
              class="btn btn-outline-light text-warning"
              >Editar</a
            >
            <p *ngIf="!loginservice.isLoggedIn()">Para citas inicia sesión!</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br />
  <button
    *ngIf="loginservice.isLoggedIn() && loginservice.getUserRol() === 'ADMIN'"
    type="submit"
    class="btn btn-primary"
    routerLink="/form-artist"
  >
    Agregar Artista
  </button>
</div>
