.card-custom {
  background-color: #d7e3ec; // Fondo de color pastel
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.1); // Sombras en los bordes
}

.card-name {
  font-style: italic; // Fuente en itálica
  font-size: 1.2rem; // Tamaño de fuente aumentado en 2px
}
