button{
  margin: 1rem;
}
.asteriscoValid{
  color: var(--text-color);
}
form{
  background-color: var(--second-bg-color);
}
img{
  max-width: 200px;
}
.input-group-text{
  background-color: var(--main-color);
}
h1{
  color: var(--second-bg-color);
}
