<div class="container text-center">
  <h1>Formulario Artistas</h1>
  <hr />
  <div class="row align-items-center">
    <!-- <form (ngSubmit)="addTattoMaker()">  es lo mismo esto que poner click?-->
    <form [formGroup]="form">
      <div class="input-group mb-3">
        <label class="input-group-text" id="basic-addon1" for="nombre"
          >Nombre</label
        >
        <input
          class="form-control"
          type="text"
          id="nombre"
          name="nombre"
          formControlName="nameForm"
        />
        <label class="input-group-text" id="basic-addon1" for="apellido"
          >Apellido:</label
        >
        <input
          class="form-control"
          type="text"
          id="apellido"
          name="apellido"
          formControlName="nameForm"
        />
      </div>
      <br />
      <div class="input-group">
        <label class="input-group-text" for="descripcion">Descripcion:</label>
        <textarea
          class="form-control"
          aria-label="with-textarea"
          type="text"
          id="info"
          name="info"
          formControlName="descriptionForm"
        ></textarea>
      </div>
      <br />
      <div class="input-group mb-3">
        <label class="input-group-text" id="basic-addon1" for="telefono"
          >Teléfono:</label
        >
        <input
          class="form-control"
          type="tel"
          id="telefono"
          name="telefono"
          formControlName="phoneForm"
        />
        <span class="input-group-text">Horarios</span>
        <input
          class="form-control"
          placeholder="Horarios de atencion.."
          type="text"
          id="dias"
          name="dias"
          formControlName="availableForm"
        />
      </div>
      <br />

      <br />
      <div class="mb-3">
        <label for="imagen" class="form-label">Cargar imagen: </label>
        <input
          class="form-control"
          type="file"
          id="formFile"
          name="imagen"
          formControlName="imageForm"
        />
      </div>
      <br />
      <button type="submit" (click)="addTattoMaker()" class="btn btn-primary">
        Guardar
      </button>

      <button
        type="submit"
        (click)="deleteTattoMaker(idAuthor)"
        class="btn btn-secondary"
      >
        Eliminar
      </button>
      <button
        type="submit"
        (click)="editTattoMaker(artistas[0])"
        class="btn btn-secondary"
      >
        Editar
      </button>
    </form>
  </div>
</div>
