<div class="container text-center">
  <h1>Formulario Artistas</h1>
  <hr />
  <div class="row align-items-center">
    <form [formGroup]="form">
      <br />
      <div class="input-group mb-3">
        <label class="input-group-text" id="basic-addon1" for="nombre"
          ><span class="asteriscoValid">*</span>Nombre Completo:</label
        >
        <input
          class="form-control"
          type="text"
          id="nombre"
          name="nombre"
          formControlName="nameForm"
          required
        />
      </div>
      <div *ngIf="isFieldInvalid('nameForm')" class="text-danger">
        Nombre es requerido.
      </div>
      <div class="input-group">
        <label class="input-group-text" for="descripcion">Descripcion:</label>
        <textarea
          class="form-control"
          aria-label="with-textarea"
          type="text"
          id="info"
          name="info"
          formControlName="descriptionForm"
        ></textarea>
      </div>
      <br />
      <div class="input-group mb-3">
        <label class="input-group-text" id="basic-addon1" for="telefono"
          ><span class="asteriscoValid">*</span>Teléfono:</label
        >
        <input
          class="form-control"
          type="tel"
          id="telefono"
          name="telefono"
          formControlName="phoneForm"
          required
        />

        <span class="input-group-text">Horarios</span>
        <input
          class="form-control"
          placeholder="Horarios de atencion.."
          type="text"
          id="dias"
          name="dias"
          formControlName="availableForm"
        />
      </div>
      <div *ngIf="isFieldInvalid('phoneForm')" class="text-danger">
        Telefono es requerido.
      </div>
      <br />
      <br />
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="mb-3">
              <label for="imagen" class="form-label">
                <span class="asteriscoValid">*</span>Cargar imagen:
              </label>
              <input
                class="form-control"
                type="file"
                id="formFile"
                name="image"
                formControlName="imageForm"
                required
              />
              <!-- (change)="handleImageInputChange($event)" esta linea va dentro del input-->
            </div>
            <div *ngIf="isFieldInvalid('imageForm')" class="text-danger">
              Imagen requerida.
            </div>
          </div>
          <div class="col-md-6">
            <div *ngIf="loadedImageURL" class="text-center">
              <img
                [src]="loadedImageURL"
                class="img-thumbnail"
                alt="Vista previa de la imagen cargada"
              />
            </div>
          </div>
        </div>
      </div>

      <br />
      <button
        *ngIf="!artistaDataLoad"
        type="submit"
        (click)="addTattoMaker()"
        class="btn btn-primary"
        [disabled]="!isFormValid()"
      >
        Guardar
      </button>
      <button
        *ngIf="artistaDataLoad"
        type="submit"
        (click)="editTattoMaker()"
        class="btn btn-primary"
      >
        Editar
      </button>
    </form>
  </div>
</div>
