.shadow-gray {
  background-color: var(--second-bg-color);
  transition: .8s ease;
}
.shadow-gray:hover{
  transform: scale(1.1);
  box-shadow: 0 0 20px 0 var(--main-color);
}
.title{
  color: var(--second-bg-color)
}
