<div class="bootstrap-wrapper">
  <div class="container text-center">
    <h4 class="fst-italic">
      En Tatto-Art.E, no solo te ayudaremos a crear tatuajes excepcionales, sino
      que también te brindaremos un ambiente cálido y amigable donde te sentirás
      como en casa.
    </h4>
  </div>

  <div class="container text-center icon">
    <img src="assets/icon.png" width="80" height="80" />
    <h5>Registrate aquí</h5>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-6 mx-auto">
        <form (ngSubmit)="formSubmit()">
          <div class="mb-3">
            <label for="inputUsername" class="form-label"
              >Nombre de Usuario</label
            >
            <input
              [(ngModel)]="user.username"
              type="text"
              class="form-control"
              id="inputUsername"
              name="username"
              aria-describedby="usernameHelp"
            />
          </div>
          <div class="mb-3">
            <label for="inputEmail1" class="form-label">Email</label>
            <input
              [(ngModel)]="user.email"
              type="email"
              class="form-control"
              id="inputEmail1"
              name="email"
              aria-describedby="emailHelp"
              placeholder="@gmail.com"
            />
          </div>
          <div class="mb-3">
            <label for="inputPassword1" class="form-label">Password</label>
            <input
              [(ngModel)]="user.password"
              type="password"
              name="password"
              class="form-control"
              id="inputPassword1"
              placeholder="********"
            />
          </div>
          <button type="submit" class="btn btn-orange">Registrarse</button>
        </form>
      </div>
    </div>
  </div>

  <div class="container text-center">
    <h5 class="fst-italic fw-lighter shadow-sign font-monospace">
      Únete a nuestra comunidad y deja que la amistad y el arte se fusionen en
      tu piel.
    </h5>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-6 text-center bottom-img">
        <img src="assets/estudio2.jpeg" width="200" height="200" />
      </div>
      <div class="col-md-6 text-center bottom-img">
        <img src="assets/estudio3.jpeg" width="200" height="200" />
      </div>
    </div>
  </div>
</div>
