<div class="bootstrap-wrapper">
  <div class="container">
    <div class="row" style="margin-top: 20px">
      <div class="col-md-6 offset-md-3">
        <div class="container text-center">
          <img src="assets/icon.png" width="50" height="50" />
        </div>

        <h5 class="text-center">Registrate aqui</h5>

        <form (ngSubmit)="formSubmit()">
          <div class="mb-3" width="60%">
            <label for="exampleInputEmail1" class="form-label" id="username"
              >Nombre Usuario</label
            >
            <input
              [(ngModel)]="user.username"
              type="text"
              class="form-control"
              id="inputUsername"
              name="username"
              aria-describedby="usernameHelp"
            />
            <div class="mb-3" width="60%">
              <label for="exampleInputEmail1" class="form-label" id="email"
                >Email</label
              >
              <input
                [(ngModel)]="user.email"
                type="email"
                class="form-control"
                id="inputEmail1"
                name="email"
                aria-describedby="emailHelp"
                placeholder="@gmail.com"
              />
            </div>
            <div class="mb-3" width="60%">
              <label
                for="exampleInputPassword1"
                class="form-label"
                id="password"
                >Password</label
              >
              <input
                [(ngModel)]="user.password"
                type="password"
                name="password"
                class="form-control"
                id="inputPassword1"
                placeholder="********"
              />
            </div>
            <button type="submit" class="btn btn-primary">Registrarse</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
