<div>
  <h2 class="fw-bolder">
    ¡Nos encantaría escuchar tu experiencia en Tatto-Art.E!
  </h2>
  <br />
  <p class="text-center fs-5 container">
    Tu opinión es invaluable para nosotros y nos ayuda a seguir mejorando y
    brindando un servicio excepcional a nuestros clientes. Si has tenido la
    oportunidad de visitarnos, te invitamos a compartir tus pensamientos,
    impresiones y elogios sobre nuestro equipo de artistas, la calidad de los
    tatuajes y la atención al cliente.
  </p>

  <div class="row align-items-center">
    <div>
      <div class="input-group mb-3">
        <label id="label-contact"
          ><strong>Describe tu experiencia:</strong></label
        >
        <form [formGroup]="form">
          <textarea
            formControlName="formComentario"
            placeholder="Tu opinion nos importa.."
            class="form-control"
            aria-label="with-textarea"
            type="text"
            rows="3"
            cols="70"
          ></textarea>
        </form>
      </div>
      <div>
        <p class="centered muted" *ngIf="!loginService.isLoggedIn()">
          Inicia sesion para realizar el comentario.
        </p>
        <button
          class="btn btn-primary"
          *ngIf="loginService.isLoggedIn()"
          (click)="sendComent()"
        >
          Enviar
        </button>
      </div>
    </div>
    <br />
    <hr />
    <div class="input-group mb-3">
      <h4>Valoraciones</h4>
      <div class="container">
        <div class="row">
          <div class="col-md-10">
            <div *ngIf="arrayComentario.length > 0">
              <div
                *ngFor="let userComment of arrayComentario"
                class="comment-container"
              >
                <div>
                  <strong class="username"
                    >{{
                    <strong class="username">{{
                      loginService.getUser().username
                    }}</strong>
                    }}</strong
                  >
                  {{ userComment.comment }}
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-2">
            <div *ngIf="arrayComentario.length > 0">
              <div *ngFor="let userComment of arrayComentario">
                <div>
                  <button
                    *ngIf="
                      loginService.isLoggedIn() &&
                      loginService.getUserRol() === 'ADMIN'
                    "
                    class="btn btn-danger float-right"
                    (click)="deleteComent(userComment.id)"
                  >
                    Eliminar
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
