button{
  margin-left: 20%;
  margin-top: -20px;
}

* {
  margin: 10px;
}

h2 {
  text-align: center;
}

h4 {
  margin: 7px;
  text-decoration: underline solid 1px;
}

.input-group {
  width: 95%;
}

.container {
  margin: auto;
}
#label-contact {
  text-align: left;
  padding: 3px;
  margin-top: 24px;
}

.col-md-2 {
    width: 4.666667%;
}
.btn-danger {
  --bs-btn-line-height: 14.5px;
}
.comment-container {
  margin-bottom: 10px;
}

.username {
  color: blue;
}
