<div>
  <div class="row align-items-center">
    <h2>Comentarios</h2>
    <div>
      <div class="input-group mb-3">
        <label id="label-contact"
          ><strong>Describe tu experiencia:</strong></label
        >
        <form [formGroup]="form">
          <textarea
            formControlName="formComentario"
            placeholder="Tu opinion nos importa.."
            class="form-control"
            aria-label="with-textarea"
            type="text"
            rows="3"
            cols="70"
          ></textarea>
        </form>
      </div>
      <button class="btn btn-primary" (click)="sendComent()">Enviar</button>
    </div>
    <br />
    <hr />
    <div class="input-group mb-3">
      <h4>Valoraciones</h4>
      <div class="container">
        <div class="row">
          <div class="col-md-10">
            <div *ngIf="arrayComentario.length > 0">
              <div *ngFor="let userComment of arrayComentario">
                <div>
                  <strong>Nombre Usuario:</strong> {{ userComment.comment }}
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-2">
            <div *ngIf="arrayComentario.length > 0">
              <div *ngFor="let userComment of arrayComentario">
                <div>
                  <button
                    class="btn btn-danger float-right"
                    (click)="deleteComent(userComment.id)"
                  >
                    Eliminar
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
